<h1 class="title">Ker-Pow!</h1>

<ul>
	<% links.each do |link| %>
		<a href="<%= link %>"><li><%= link %> <span>&rarr;</span></li></a>
	<% end %>
</ul>

<a class="show-help" href="#">Pow help</a>
<section id="help">
	<p>
		Set up a Rack application by symlinking it into your <code>~/.pow</code> directory. The name of the symlink determines the hostname you’ll use to access the application.
	</p>
	<pre><span>$</span> cd ~/.pow
<span>$</span> ln -s /path/to/myapp
<span>$</span> open http://myapp.dev/</pre>
</section>    

