<html>
<head>
	<title>Ker-Pow!</title>
  <link href='http://fonts.googleapis.com/css?family=Questrial|Droid+Sans|Lato|Arvo|Cabin|Carter+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/screen.css">
</head>
<body>
	<div class="page">
    <%= yield %>
	</div>
  <script type="text/javascript" src="/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>
</body>
</html>