<html>
<head>
	<title>Ker-Pow!</title>
  <link href='http://fonts.googleapis.com/css?family=Arvo|Carter+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/screen.css">
  <script type="text/javascript" src="/prefixfree.min.js"></script>
</head>
<body>
	<div class="page <%= @page_classes %>">
    <a href="/" title="Ker-Pow!"><h1 class="title">Ker-Pow!</h1></a>
    <%= yield %>
	</div>
  <script type="text/javascript" src="/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>
</body>
</html>