<p>
	Ker-Pow could not read the logs for '<%= app[:name] %>', perhaps there is no <code>log/development.log</code> file?
</p>

<p>
	See if the <code>development.log</code> file exists by performing the steps below:
</p>

<ul class="code">
	<li>cd ~/.pow/<%= app[:name] %>/log/</li>
	<li>ls</li>
</ul>