$light-grey-color: #e3e3e3;
$darker-grey-color: #a3a3a3;

$page-background-color: $light-grey-color;

$heading-text-color: lighten($darker-grey-color, 0%);
$heading-border-bottom-color: lighten($darker-grey-color, 15%);

$text-color: #333;

$link-color: $text-color;
$link-hover-color: $link-color;
$link-visited-color: $link-color;




body {
  margin: 0;
  padding: 0;
  background: url('/dark_wall.png');
  line-height: 18px;
}

div.page {
  background: $page-background-color;
  box-shadow: 0px 0px 15px 0px #000;
  width: 560px;
  margin: 20px auto;
  padding: 30px 20px 30px 20px;
  color: $text-color;
}

h1{
  line-height: 55px;
  font-size: 55px;
  text-align: center;
  font-family: 'Carter One', sans-serif;
  color: $heading-text-color;
  text-shadow: 0px 1px 0px #ffffff;
  &.title{
    margin:0px;
    padding: 0px 0px 30px 0px;
    margin-bottom: 35px;
    border-bottom: 1px solid $heading-border-bottom-color;
  }
}

body, p, a, li{
  font-family: 'Arvo', sans-serif;
}

a, a:hover, a:visited{
  text-decoration: none;  
}
a{
  color: $link-color;
}
a:hover{
  color: $link-hover-color;
}
a:visited{
  color: $link-visited-color;
}

ul {
  padding: 0;
  margin-bottom: 30px;
  li {
    font-size: 18px;
    line-height: 32px;
    list-style-type: none;
    background: lighten($darker-grey-color, 10%);
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 3px;
    position: relative;
    div.app-link{
    }
    div.app-restart{
      display: inline;
      opacity: 0.0;
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 0px 10px;
    }
    &:hover{
      background-image: linear-gradient(top, lighten($darker-grey-color, 8%) 0%, lighten($darker-grey-color, 6%) 100%);
      div.app-restart{
        opacity: 0.2;
        &:hover{
          opacity: 1.0;
        }
      }
    }
  }
}

a.show-help{
  opacity: 0.2;
  &:hover{
    opacity: 1.0;
  }
}

section#help{
  display: none;
  pre{
    margin-left: 20px;
    margin-bottom: 0px;
  }
}